<h1>User details</h1>

<dl>
  <dt>Username</dt>
  <dd><%= @user.username %></dd>
  <br />
  <dt>Email address</dt>
  <dd><%= @user.email %></dd>
</dl>

<h3>Recent bids</h3>

<div>
  <%= for bid <- @bids do %>
  <div>

    <p>
      <strong><%= formatted_datetime(bid.inserted_at) %></strong>
      --
      <%= integer_to_currency(bid.amount) %>
    </p>

    <em>
      <%= link bid.item.title, to: Routes.item_path(@conn, :show, bid.item) %>
    </em>
  </div>
  <% end %>
</div>
