<h1>User details</h1>

<dl>
  <dt>Username</dt>
  <dd><%= @user.username %></dd>
  <br />
  <dt>Email address</dt>
  <dd><%= @user.email %></dd>
</dl>

<div>
  <%= for bid <- @user.bids do %>
    <p>Current bid for <%= link(bid.item.title, to: Routes.item_path(@conn, :show, bid.item.id)) %>: <%= bid.amount %></p>
  <% end %>
</div>
